@import "../../sass/variables" , "../../sass/components";

.ranking {
  max-height: 500px;
  overflow-y: auto;
  .ant-table-row {
    &:nth-child(even) {
      background-color: #f5f5f5;
    }

    &:hover {
      background-color: #e6f7ff;
    }
  }
  button{
    @extend %anchor_button;
    font-size: 1rem;
    font-weight: 400;
  }
}
